/* CSS declarations go here */

body {
	background-color:#474747;
}

#main_container 
{ 
  margin:2em;
  background-color:;
}

#leaderTable, #guessTable {
  background-color:white;
}

img {
	width:10em;
}
.centered 
{ 
  float: none; 
  margin:0 auto;  
}

h1, h3 {
	color:white;
}

#alert {
	margin:2em 0;
	color:#416600;
	font-weight:bold;
}
